<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Register</title>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="studentService.js"></script>
</head>

<div ng-app="app" ng-controller="appController">

    <button ng-click="showHideView()">View</button>
    <button ng-click="showHideInsertStudent()">Insert</button>
    <button ng-click="showHideDeleteStudent()">Delete</button>

    <div ng-show=isViewVisible>
        <table>
            <tr ng-repeat="x in names" ng-click="showHideUpdate(x.regNo)">
                <td>{{ x.regNo }}</td>
                <td>{{ x.studentName }}</td>
            </tr>
        </table>
    </div>
    <div ng-show=isUpdateVisible>
        <p>Registration Number: <input type="text" ng-model="student.regNo"></p>
        <p>Name: <input type="text" ng-model="student.studentName"></p>
        <p>Birthday(yyyy-mm-dd): <input type="text" ng-model="student.birthday"></p>
        <p>Address: <input type="text" ng-model="student.address"></p>
        <button ng-click="updateStudent()">Update</button>
    </div>

    <div ng-show=isInsertVisible>
        <p>Registration Number: <input type="text" ng-model="student.regNo"></p>
        <p>Name: <input type="text" ng-model="student.studentName"></p>
        <p>Birthday(yyyy-mm-dd): <input type="text" ng-model="student.birthday"></p>
        <p>Address: <input type="text" ng-model="student.address"></p>
        <button ng-click="insertStudent()">Insert</button>

    </div>
    <div ng-show=isDeleteVisible>
        <p>Registration Number: <input type="text" ng-model="student.regNo"></p>
        <button ng-click="deleteStudent()">Delete</button>
    </div>

</div>
</html>





